altgraph==0.17.3
asgiref==3.8.1
binutils==0.1.dev0
certifi==2022.9.24
charset-normalizer==2.1.1
distlib==0.3.8
Django==5.0.3
django-cors-headers==4.3.1
djangorestframework==3.15.1
Faker==24.4.0
filelock==3.13.3
glibc==0.6.1
idna==3.4
mypy==1.9.0
mypy-extensions==1.0.0
platformdirs==4.2.0
pyinstaller==4.0
pyinstaller-hooks-contrib==2022.12
python-dateutil==2.9.0.post0
python-pip==1.1.1
requests==2.28.1
six==1.16.0
sqlparse==0.4.4
toposort==1.10
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.12
virtualenv==20.25.1
